html,body{
    margin: 0;
    padding:0;
}

.my_header{
	text-align:center;
    background-color: cyan;
}

.carousel-inner{
    width: 80%;
    height: 80%;
}

.carousel-item{
	text-align:center;
    background-color: blue;
}

.sections{
	margin:15px;
	text-align:center;
	border: 2px groove darkblue;
}

.jumbotron-fluid{
    background-color: cyan;
}

.background{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.profile-pic{
    margin: auto;
}







